@use "../tools/functions" as f;

html {
    min-width: f.rem(320px);
    font-family: var(--font-primary);
}

table {
    border-collapse: collapse;

    & th,
    & td {
        padding: f.rem(8px) f.rem(16px);
        border: f.rem(1px) solid rgb(var(--color-black));
    }
}
