@use "../tools/functions" as f;
@use "../tools/mixins" as mixins;

.grid {
    display: grid;
    grid-template-columns: 1fr;

    // &__col {
    // }

    &--gap {
        gap: f.rem(16px);
    }

    &--2 {
        @include mixins.media-sm {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--3 {
        @include mixins.media-sm {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mixins.media-lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &--4 {
        @include mixins.media-sm {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mixins.media-lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include mixins.media-xxl {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
