@use "../tools/functions" as f;
@use "../tools/mixins" as mixins;

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--color-black) / 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease, visibility 300ms ease;
    z-index: 9999999;

    @include mixins.reduced-motion {
        transition: none;
    }

    &.is-showing {
        opacity: 1;
        visibility: visible;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        inset-block-start: calc(50% - f.rem(24px));
        inset-inline-start: calc(50% - f.rem(24px));
        width: f.rem(48px);
        height: f.rem(48px);
        border: f.rem(4px) solid rgb(var(--color-white) / 0.25);
        border-block-start-color: rgb(var(--color-white));
        border-radius: 50%;
    }

    &.is-showing::after {
        animation: loader 1000ms linear infinite;

        @include mixins.reduced-motion {
            animation-duration: 5000ms;
        }
    }
}
