@use "../tools/functions" as f;

.wrapper {
    --_inline-spacing: #{f.rem(16px)};
    --_max-width: #{f.rem(1600px)};

    margin-inline: auto;
    width: min(calc(100% - calc(var(--_inline-spacing) * 2)), var(--_max-width));

    // &--fluid {
    //     --_inline-spacing: #{f.rem(0px)};
    // }

    // &--xxs {
    //     --_max-width: #{f.rem(375px)};
    // }
}
