@mixin _generateSpacing($name, $size) {
    .st-#{$name} {
        @if length($size) == 1 {
            padding-top: nth($size, 1) !important;
        }

        @if length($size) == 2 {
            padding-top: nth($size, 2) !important;

            @media (min-width: rem(1024px)) {
                padding-top: nth($size, 1) !important;
            }
        }

        @if length($size) == 3 {
            padding-top: nth($size, 3) !important;

            @media (min-width: rem(1024px)) {
                padding-top: nth($size, 2) !important;
            }

            @media (min-width: rem(1440px)) {
                padding-top: nth($size, 1) !important;
            }
        }
    }
}

// Example:
// @include _generateSpacing("701", (rem(96px) rem(72px) rem(48px)));

@include _generateSpacing("0", (0rem));
@include _generateSpacing("50", (rem(12px)));
@include _generateSpacing("100", (rem(16px)));
@include _generateSpacing("200", (rem(24px)));
@include _generateSpacing("300", (rem(32px)));
@include _generateSpacing("400", (rem(48px)));
@include _generateSpacing("500", (rem(64px)));
@include _generateSpacing("600", (rem(72px)));
@include _generateSpacing("700", (rem(96px)));

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-overflow {
    overflow: hidden !important;
}
