// $spacing: (
//     // "name": (size_desktop size_tablet size_mobile),
//     // Example - "701": (rem(96px) rem(72px) rem(48px)),
//     //
//     // "0": (0rem),
//     // "50": (rem(12px)),
//     // "100": (rem(16px)),
//     // "200": (rem(24px)),
//     // "300": (rem(32px)),
//     // "400": (rem(48px)),
//     // "500": (rem(64px)),
//     // "600": (rem(72px)),
//     // "700": (rem(96px))
// );

// @each $name, $size in $spacing {
//     .st-#{$name} {
//         @if length($size) == 1 {
//             padding-top: nth($size, 1) !important;
//         }

//         @if length($size) == 2 {
//             padding-top: nth($size, 2) !important;

//             @media (min-width: rem(1024px)) {
//                 padding-top: nth($size, 1) !important;
//             }
//         }

//         @if length($size) == 3 {
//             padding-top: nth($size, 3) !important;

//             @media (min-width: rem(1024px)) {
//                 padding-top: nth($size, 2) !important;
//             }

//             @media (min-width: rem(1440px)) {
//                 padding-top: nth($size, 1) !important;
//             }
//         }
//     }
// }

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.no-overflow {
    overflow: hidden !important;
}
