@use "sass:math";
@use "functions" as f;
@use "vars" as vars;

@mixin vh($property, $value) {
    #{$property}: calc(var(--vh, 1vh) * #{$value});
}

// Example:
// selector {
//     @include vh(min-height, 100);
// }

@mixin fluid-size($properties, $min-vw, $max-vw, $min-value, $max-value, $value-end: null) {
    $u1: math.div($min-vw, f.strip-unit($min-vw));
    $u2: math.div($max-vw, f.strip-unit($max-vw));
    $u3: math.div($min-value, f.strip-unit($min-value));
    $u4: math.div($max-value, f.strip-unit($max-value));

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            @each $property in $properties {
                #{$property}: $min-value $value-end;
            }

            @media (min-width: $min-vw) {
                @each $property in $properties {
                    #{$property}: calc(
                            #{$min-value} +
                                #{f.strip-unit($max-value - $min-value)} *
                                ((100vw - #{$min-vw}) / #{f.strip-unit($max-vw - $min-vw)})
                        )
                        $value-end;
                }
            }

            @media (min-width: $max-vw) {
                @each $property in $properties {
                    #{$property}: $max-value $value-end;
                }
            }
        }
    }
}

// Example:
// selector {
//     $_fs-min-width: 576px;
//     $_fs-max-width: 1200px;
//     $_fs-min-size: 24px;
//     $_fs-max-size: 48px;
//     @include fluid-size(font-size, $_fs-min-width, $_fs-max-width, $_fs-min-size, $_fs-max-size, !important);
// }
//
// Example (shorthand):
// selector {
//     @include fluid-size(font-size, 576px, 1200px, 24px, 48px, !important);
// }

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        @content;
    }
}

// Example:
// selector {
//     @include hover {
//         &:hover {
//             outline: 2px solid black;
//         }
//     }
// }

@mixin screen-sm {
    @media screen and (min-width: vars.$viewport-sm) {
        @content;
    }
}

@mixin screen-md {
    @media screen and (min-width: vars.$viewport-md) {
        @content;
    }
}

@mixin screen-lg {
    @media screen and (min-width: vars.$viewport-lg) {
        @content;
    }
}

@mixin screen-xl {
    @media screen and (min-width: vars.$viewport-xl) {
        @content;
    }
}

@mixin screen-xxl {
    @media screen and (min-width: vars.$viewport-xxl) {
        @content;
    }
}

// Example:
// selector {
//     font-size: 24px;
//     @include screen-xl {
//         font-size: 48px;
//     }
// }

@mixin rtl {
    [dir="rtl"] & {
        @content;
    }
}

// Example:
// selector {
//     float: left;
//     @include rtl {
//         float: right;
//     }
// }

@mixin reduced-motion {
    @media (prefers-reduced-motion: reduce) {
        @content;
    }
}

// Example:
// selector {
//     @include reduced-motion {
//         transition: none;
//         animation: none;
//     }
// }
