// ========
// SCSS
// ========
//
// fonts
//
$base-font-size: 16px;

// ========
// CSS
// ========
:root {
    //
    // colors
    //
    --color-black: #000000;
    --color-white: #ffffff;

    --color-dark: #272727;
    --color-light: #f7f7f7;

    --color-primary: #26a69a;
    --color-secondary: #00766c;
    --color-tertiary: #64d8cb;

    //
    // fonts
    //
    // --font-primary: "font name", sans-serif;
}
