<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>Website Title</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Website description." />
        <meta name="keywords" content="Website, Keywords" />

        <link rel="icon" type="image/svg+xml" href="./assets/images/favicon/favicon.svg" />
        <link rel="stylesheet" href="./assets/sass/main.scss" />

        <script>
            document.documentElement.classList.remove("no-js");
        </script>
        <script type="module" src="./assets/js/main.js"></script>
    </head>

    <body data-no-js-text="You need JavaScript to run this app.">
        <div class="container">
            {% include 'partials/header.html' %}

            <main class="site-main">{% block body %} {% endblock %}</main>

            {% include 'partials/footer.html' %}
        </div>
    </body>
</html>
