.no-js body {
    font-size: 0 !important;

    &:before {
        content: "You need JavaScript to run this app.";
        position: relative;
        display: block;
        padding: 1rem;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 1.5;
        color: rgb(0 0 0);
        background-color: rgb(255 255 255);
        z-index: 1;
    }

    & > * {
        display: none !important;
    }
}
